.fields-selector {
	padding-bottom: 10px;
}

.fields-selector>h2 {
	font-size: 0.8rem;
}

.fields-container {
	display: flex;
	list-style: none;
	padding: 0;
	column-gap: 6px;
}

.field {
	background-color: var(--grey-light);
	border-radius: 5px;
	width: fit-content;
	padding: 2px 10px;
	text-align: center;
	cursor: pointer;
	height: 22px;
	line-height: 20px;
}

.field:hover {
	background-color: var(--grey-shade);
}

.selected {
	background-color: var(--blue-selected);
	color: var(--white);
}